* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
}

/* Style the table kontaktid*/
#kontaktid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#kontaktid th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    color: black;
    background-color: #f2f2f2;
}

#kontaktid th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Style the table addContact */
#addContact {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 35%;
    padding-top: 1px;
    padding-bottom: 6px;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

#addContact th, td {
    border: 1px solid #ddd;
    padding: 3px;
}

/* Style the Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #af7887;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #a0456a;
}

tr:hover {background-color: #f5f5f5;}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}