<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harjutustund 1</title>

    <link rel="stylesheet" type="text/css" href="../mystyle.css">

</head>
    <body>

        <div class="topnav">
            <a href="?command=contactList" id="list-page-link">Nimekiri</a>
            <a href="?command=addContact" id="add-page-link">Lisa</a>
        </div>

        <br><br>
        <div class="column side">


        </div>
        <div>
        <table border="1" width="800px" id="kontaktid">
            <thead>
            <tr>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col">Telefon</th>
                <th scope="col">Telefon</th>
                <th scope="col">Telefon</th>
            </tr>
            </thead>
            <tbody>
                <tr tpl-foreach="$contacts as $Contact">
                    <td>
                        {{$Contact->firstName}}
                    </td>
                    <td>
                        {{$Contact->lastName}}
                    </td>
                    <td>
                        {{$Contact->phones[0]}}
                    </td>
                    <td>
                        {{$Contact->phones[1]}}
                    </td>
                    <td>
                        {{$Contact->phones[2]}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="column side">

        </div>


        <br><br>

        <div class="footer">
            <footer>
                <p>ICD0007 Harjutustund1</p>
            </footer>
        </div>


    </body>
</html>