<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontaktid</title>
</head>
<body>
<div class="topnav">
    <a href="../index.php?command=show_list_page" id="list-page-link">Nimekiri</a>
    <a href="../index.php?command=show_add_page" id="add-page-link">Lisa</a>
</div>

<br><br>
<div class="column side">


</div>
<div id="message" tpl-if="$message">
    <p>{{ $message }}</p>
</div>
<div id="errors" tpl-if="$errors">
    <ul>
        <li tpl-foreach="$errors as $error">
            {{ $error }}
        </li>
    </ul>
</div>
    <div id="addContact" tpl-include="tpl/add.html"></div>
    <div id="contactList" tpl-include="tpl/list.html"></div>

<br><br>

<div class="footer">
    <footer>
        <p>ICD0007 Harjutustund1</p>
    </footer>
</div>
</body>
</html>